@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
	display: inline;
	float: left;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/


.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}
	
	

/* Mobile Layout: 480px and below. */


 @media screen and (min-width: 0px) and (max-width: 768px) {
  #imagemap2 { display: none; }  /* do not show map on small screens */
table{
	width:100%;
	}
} 
.gridContainer {
	width: 100%;
	clear: none;
	float: none;
	margin-left: auto;
	padding-top: 41px;
	background-color:#FFFFFF;
}

#gridContentBox{
	width: 100%!important;
	background-color: #A8423E!important;
	margin-top: 29px;
	}
	

#gridcontentimagebox {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #8A8384;
}

.gridmaptextsmall{
	font-family:Lato, Arial, serif;
	color:#7F7F7F;
	font-alighn:center;}

.smallcontentimage{
	width:100%;
	}	
	
	
	
	
	
	
	
	

#gridjambotronimage {
	width: 100%;
	padding-top: 4px;
}

.gridredmenuul {
	width: 100%;
	float: left;
	padding-left: 44px;
}



#gridmapimage {
	
width: 100%;
margin-left: 0;
clear: both;
}



#imagemap2 {
clear: both;
margin-left: 0;
}

#imagemap2 {
clear: both;
margin-left: 0;
}

.footer {
}
#gridContainer .fluid {
	position: static;
	font-family: Adventure, serif;
	color: rgba(140,0,2,1);
	background-color: #FFFFFF;
}

.footerSection {
	width: 20%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	background-color: rgba(140,71,71,0.00);
	float: left;
	color: #E0E0E0;
	font-family: Lato, Arial, serif;
	font-size: small;
}
h4 {
	color: rgba(179,179,179,1.00);
	font-weight: bolder;
}
.copyright {
}
.fluid.copyright {
	background-color: rgba(75,75,75,1.00);
	text-align: center;
	color: rgba(219,219,219,1.00);
	font-family: Lato, Arial, serif;
	font-size: small;
	font-weight: bolder;
	padding-bottom: 8px;
	padding-top: 8px;
}
#teamKaliLogo {
	margin-right: auto;
	padding-left: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.textwhite {
	color:#FFFFFF;
	font-family:Lato, Arial, serif;
}

.socialsmall {
	width: 30px;
	float: left;
	height: 30px;
}
#logoimage {
	margin-right: 63px;
}
#imagesideparagraph {
}

footer{
	background-color: #2F2F2F;
	padding-bottom: 0px;
	margin-top: 52px;
	text-align: left;
	}
	
	#gridContentBox{
	width: 100%;
	background-color: #A8423E;
	margin-top: 29px;
	}
	
	


	.zeroMargin_mobile {
margin-left: 0;
}

	.hide_mobile {
display: none;
}
#copyright {
	background-color: #AD2426;
}

#copyright{
	text-align:center;
	background-color:#6F6F6F !important;
	font-family:Lato, Arial, serif !important;
	color:#FFFFFF !important;
	padding:2px !important;
	}
h2 {
	text-align: center;
	color: #FFFFFF;
	font-family: Adventure, serif;
	font-size: x-large;
}



.imagelinks{
	width: 40%;
	padding-left: 5%;
	margin-top: 20px;
	margin-bottom: 33px;
	}

.topmenu{
	color:#6C6C6C!important;
	}
	
.redheader{
	color:#A9443F;
	font-family:Adventure, serif;
}

.Content {
	background-color: #A9443F;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	color: #FFFFFF;
	text-align: center;
	font-family: Lato, Arial, serif;
	position: relative;
	clear: both;
	margin-bottom: 18px;
	padding-bottom: 13px;
}

footer{
	background-color: #2F2F2F;
	padding-top: 25px !important;
	margin-top: 52px;
	text-align: left;
	width:80%;
	background-color: #353535 !important;}
	
.whiteheader{
	color:#FFFFFF !important;
	font-family:Adventure, serif !important;

}


#gridcontenttextbox {
	width: 100%;
	float: right;
	margin-right: ;
	font-family: Adventure, serif;
	text-align:center;
	color:#FFFFFF;

}


}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 100%;
	clear: none;
	float: none;
	margin-left: auto;
	padding-top: 41px;
	background-color:#FFFFFF;
	}

#gridredmenu{
	width: 100%;
	}
	
#gridmapimage {
	width: 100%;
	margin-left: 0;
	clear: both;
	}
	
#imagemap2{
	clear: both;
	margin-left: 0;
	}
	
#gridContainer #imagemap2{
	padding-left: 0px;
}


.footer {
}
.copyright {
}
#imagesideparagraph {
}
#gridcontenttextbox {

}
#gridcontenttextbox {
	width: 50%;
	float: right;
	margin-right: 8%;
	font-family: Adventure, serif;
}


	
footer{
	background-color: #2F2F2F;
	padding-bottom: 0px;
	margin-top: 52px;
	text-align: left;
	}

#welcomeText{
	}

.hide_tablet{
	display: none;
	}

.zeroMargin_tablet{
	margin-left: 0;
	}
	
#copyright{
	text-align:center;
	background-color:#6F6F6F !important;
	font-family:Lato, Arial, serif !important;
	color:#FFFFFF !important;
	padding:2px !important;
	}
	
#StaticImages{
	width:18% !important;}
#Title {
	font-family: Adventure, serif;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	color: #B70205;
	text-align: center;
	padding-bottom: 19px;
}

#Content {
	background-color: #A9443F;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	color: #FFFFFF;
	text-align: center;
	font-family: Lato, Arial, serif;
	position: relative;
	clear: both;
	margin-bottom: 18px;
	padding-bottom: 13px;
}


.whiteheader{
	color:#FFFFFF;
	font-family:Adventure, serif;
	
}

.redheader{
	color:#A9443F;
	font-family:Adventure, serif;
}

.whiteparagraph{
	style="color: #FFFFFF;
	font-family: Lato, Arial, serif; text-align: center;
	margin-left: 5%; 
	margin-right: 5%;"
	}
	
.topmenu{
	color:#6C6C6C!important;}
	
#gridContentBox{
	width: 100%!important;
	background-color: #A8423E!important;
	margin-top: 29px;
	}
.audioplayer {
	margin-left: auto;
	float: left;
	clear: both;
	margin-right: auto;
	width: 80%;
}





}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 100%;
	max-width: 1232px;
	padding-left: 0%;
	padding-right: 0%;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	clear: none;
	float: none;
	margin-left: auto;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 1px 10px 1px #8A8A8A;
	box-shadow: 0px 1px 10px 1px #8A8A8A;
	margin-bottom: 20px;
}
#gridverticalMenu {
	background-color: #FFFFFF;
	width: 100%;
	color: #FFFFFF;
	-webkit-box-shadow: 0px 1px 5px 1px rgba(155,155,155,0.73);
	box-shadow: 0px 1px 5px 1px rgba(155,155,155,0.73);
	position: fixed;
}
#gridjambotron {
}
#gridjambotron {
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	background-color: #A7A4A4;
	width: 80%;
	padding-left: auto;
	padding-right: auto;
	position: static;
}
#gridredmenu {
	width: 15.2542%;
	margin-top: 17%;
	margin-left: 21px;
}
#gridmapimage {
	width: 50%;
	margin-left: 18.644%;
	clear: left;
	float: right;
}
#exploreText {
	color: #A8423E;
	font-family: Adventure, serif;
}
#imagemap2 {
	margin-left: 1.6949%;
	clear: none;
	width: 75%;
	float: right;
	margin-top: 5px;
	margin-right: 13px;
}
.gridmaptext {
	color: #A8423E;
	font-family: Adventure, serif;
	margin-top: 17px;
}

.gridmaptextsmall{
	color: #706F6F;
	font-family: Lato, Arial, serif;
	
	}

#gridContentBox{
	width: 100%!important;
	background-color: #A8423E!important;
	margin-top: 29px;
	}
#gridcontentimagebox {
	width: 30%;
	margin-left: 8%;
	background-color: #8A8384;
}

.headerwhite{
	color: #FFFFFF;
	font-family: Adventure, serif;
	font-size: 2em;
	text-align: center;
	}
	
#Title {
	font-family: Adventure, serif;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	color: #B70205;
	text-align: center;
	padding-top: 20px !important;
	padding-bottom: 19px;
	margin-top: 37px !important;
}
	
.textwhite{
	}

#gridcontenttextbox {
	width: 50%;
	float: right;
	margin-right: 8%;
	font-family: Adventure, serif;
}
.textwhite {
	color: #FFFFFF;
	font-family: Lato, Arial, serif;
}


footer{
	background-color: #2F2F2F;
	padding-top: 25px !important;
	margin-top: 52px;
	text-align: left;
	width:80%;
	background-color: #353535 !important;}

#copyright{
	text-align:center;
	background-color:#6F6F6F !important;
	font-family:Lato, Arial, serif !important;
	color:#FFFFFF !important;
	padding:2px !important;
	}
	
#StaticImages {
	font-family: Adventure, serif;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	padding-top: 0%;
}

.imagelinks{
	width: 18%;
	padding-left: 5%;
	margin-top: 20px;
	margin-bottom: 33px;
	}
	
.Content {
	background-color: #A9443F;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	color: #FFFFFF;
	text-align: center;
	font-family: Lato, Arial, serif;
	position: relative;
	clear: both;
	margin-bottom: 18px;
	padding-bottom: 13px;
}

.Mainnavigation{
	margin-left: 36%;
	margin-right: auto;
	padding-top: 18px;
	}
	
.whiteparagraph{
	style="color: #FFFFFF;
	font-family: Lato, Arial, serif; text-align: center;
	margin-left: 5%; 
	margin-right: 5%;"
	}
	
.whiteheader{
	color:#FFFFFF;
	font-family:Adventure, serif;
	

	
}

.blackheader{
	color:#535353;
	font-family:Adventure, serif;
	}
	
.topmenu{
	color:#6C6C6C!important;}
	

/*styling video player*/
			
			video
			{  margin-top;1px;
			padding-top:4px;
			border-top: 2px;
				}
				



#main1
			{
			
			 padding:;
		     margin:;
	width: 80%;
	float: left;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	clear: left;
			 
			}
#music2 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	float: left;
	clear: left;
}
video {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	float: left;
	clear: left;
}

#gridcontenttextbox2{
	width:80%;
	Padding:5%;
	text-align:center;
	}
video {
	margin-left: 10%;
	margin-top: 30px;
}


